        .info{
            margin: 5px;
        }
        .heading{
            padding: 30px;
            color: blue;
            background-color: bisque;
        }
        .menu{
            padding: 6px;
            background-color: aqua;
        }